<!DOCTYPE html>
<html lang="en">
  <%- include("header.html") %>
  <body>
    <%- include("navbar.html") %>
    <h1><%= appName %></h1>

    <p>User ID: <%= session.userId %></p>
    <!-- When no session logged -->
    <% if (!session.userId) { %>
    <p><a href="/login">Login</a> to access your agents</p>
    <% } else { %>
    <h2>Agents</h2>
    <% agents.forEach(agent => { %>
    <p>
      The Agent <%= agent.name %> is <%= agent.age %> years old.
      <a href="/agents/delete/<%= agent._id%>"><i class="bi bi-trash3"></i></a>
    </p>
    <% }) %> <% } %>

    <!-- Rendering -->

    <h2>Conditionals</h2>

    <p>The current second is <%= actualSecond %></p>
    <% if (isEven) { %>
    <p>The current second is even.</p>
    <% } else { %>
    <p>The current second is odd.</p>
    <% } %>

    <!-- footer -->
    <%- include("footer.html") %>
  </body>
</html>
