<%- include("header.html") %>
<div class="container mt-5">
  <h2>Login</h2>
  <form method="POST">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input
        name="email"
        type="email"
        value="<%= email %>"
        class="form-control"
        id="inputEmail"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="inputPassword"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p><%= error %></p>
  </form>
</div>
<%- include("footer.html") %>
